{block content}
    <h1>Brno Map <sup><small>beta</small></sup></h1>
    
    <p id="controls">
    	<input type="radio" value="grunge" name="switch" id="grunge" checked> <label for="grunge">Podzemní a tajuplná místa</label><br>
    	<input type="radio" value="info" name="switch" id="info"> <label for="info">Články a tipy o místech</label>
    </p>
    
    <div id="map-canvas"></div>
{/block}